<div class="commentor-info">
    <div>
        <img src="/images/avatars/avatar{{this.avatarId}}.svg">
    </div>
    <div>
        <div class="comments-posted-details">
            {{#if this.registeredUser}}
                <span class="comments-by">
                                <a href="/articles/author/{{this.registeredUser}}"><i class="fa fa-user-o"
                                                                                      aria-hidden="true"></i> {{this.commentorName}}</a>
                            </span>
            {{/if}}
            {{#if this.guestUser}}
                <span>{{this.commentorName}}</span>
            {{/if}}
            <span class="pipe-char">|</span>
            <span class="comments-date"><i class="fa fa-calendar"
                                           aria-hidden="true"></i> {{this.lastUpdated}}</span>
        </div>
    </div>
</div>

<div class="comments-container2">

    <div class="comments-reply-container">

        <p class="comments-content">{{this.comments}}</p>

        {{#unless this.replyToComment}}
            <span class="comments-reply-link div-link"><i class="fa fa-reply" aria-hidden="true"></i> Reply</span>
        {{/unless}}
        {{#if @root.loggedIn}}
            {{#ifEquals this.registeredUser @root.user.id}}

                <span class="comments-reply-edit-link div-link"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</span>
                <span class="delete-comment-link div-link"><i class="fa fa-trash" aria-hidden="true"></i> Delete</span>

                <div class="comments-confirmation-modal modal">
                    <div class="modal-content animate">
                        <div class="modal-logo-container">
                            <div class="comments-close-modal-btn close-button" title="Close Modal"><i
                                    class="fa fa-times"
                                    aria-hidden="true"></i>
                            </div>
                        </div>
                        <div>
                            <h1 class="branding-secondary-2-color text-center">Warning!</h1>
                            <p>Are you sure you want to delete this comment and possibly also the
                                replies?</p>
                            <div class="flex-row justify-center align-center">
                                <a href="/articles/comments/{{this.id}}/{{#if
                                        this.replyToComment}}delete{{else}}deleteAll{{/if}}"
                                   class="button button-primary">Yes</a>
                                <div class="comments-confirmation-no-btn button button-secondary">No</div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/ifEquals}}
        {{/if}}

        <div class="comments-reply-add-form display-none">
            <form action="/articles/comments/{{this.id}}/reply" method="POST">
                <div class="flex-col mb">
                    {{#unless @root.loggedIn}}
                        <label for="txtReplyName{{this.id}}">Name:</label>
                        <input type="text" id="txtReplyName{{this.id}}" name="name">
                    {{/unless}}
                    <label for="textareaReplyToComment{{this.id}}">Comments:</label>
                    <textarea id="textareaReplyToComment{{this.id}}" name="comments"
                              placeholder="Leave a reply..."
                              class="comments-reply-textarea"></textarea>
                </div>
                <button type="submit" class="button button-primary">Submit</button>
            </form>
        </div>

        <div class="comments-reply-edit-form display-none">
            <form action="/articles/comments/{{this.id}}/edit" method="POST">
                <div class="flex-col mb">
                    <label for="textareaEditComment{{this.id}}">Comments:</label>
                    <textarea id="textareaEditComment{{this.id}}" name="comments"
                              placeholder="Leave a reply..."
                              class="comments-reply-textarea">{{this.comments}}</textarea>
                </div>
                <button type="submit" class="button button-primary">Submit</button>
            </form>
        </div>

    </div>

</div>